# Default
* @GerardoDC14 @arepo90

# Areas (ejemplo)
gui/ @arepo90 @GerardoDC14
nav/ @GerardoDC14 @arepo90
arm/ @GerardoDC14 @arepo90
jaguar/ @GerardoDC14 @arepo90
dicerox/ @GerardoDC14 @arepo90
shared/ @GerardoDC14 @arepo90