<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jaguar_robot_full">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import jaguar_robot_full urdf file -->
    <xacro:include filename="$(find jaguar_robot_full_description)/urdf/jaguar_robot_full.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="jaguar_robot_full.ros2_control.xacro" />


    <xacro:jaguar_robot_full_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
